#second_table th{
  padding:10px 15px;
  background-color: #bababa;
}
#second_table td{
  border-bottom:1px solid black;
  padding:5px 10px;
  font-size:.8em;
  color:grey;
}
#bill_header th{
  text-align: left;
  font-size:.9em;
}
#third_table td{
  border:1px solid black;
  padding:5px 10px;
  font-size:.8em;
  font-weight: bold;
}
